html,
body {
  height: 100%;
}

h1{ 
  position: relative;
  top: 20px;  
  margin-top: 1px; 
  color:#FDFEFE;
  font-family: "Trebuchet MS";
  font-size: 30px;
  }

  h2{
    position: relative;
    top: 120px;
    font-size:2; 
    color:black;
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 30px;
    visibility:visible; 
    z-index:2;
}

body{
  background-color: #0093E9;
  background-image: linear-gradient(45deg, #0093E9 0%, #8cded5 33%, #b7ffdb 66%, #b0ff83 100%);
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contenedor{
    position: relative;
    
    box-sizing:border-box;
    width: 50.5%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
    }


.niveles{
    margin: auto;
    position: relative;
    width: 30.5%;
    height: 35px;
    top: 0px;
    text-align: center;
    z-index: 999;
  }

  .cod{
    font-size: 15px;  
    text-align: center;
    margin:10px;
    width: 10%;
    height: 35px;
    
  }
  
  .pr{
    text-align: left;
    font-size: 15px;  
    margin-top:10px;
    width: 90%;
    height: 90px;
    border: 2px solid black;
     
  }
  
  
  input[type=text]:focus {
    background-color: #85C1E9;
    
  }
  
  .contenedor3{
      text-align: center;
      position: relative;
      bottom: -100px;   
      z-index: 999;  
      width: 40%;
      height: 140px;
      margin-left: auto;
      margin-right: auto;  
      padding: 5px;
    }
  
    .boton{background-color: white;
      color: black;
      width: 60%;
      height: 40px;
      border: 2px solid white;
      font-size: 20px;
      bottom: -10px;
      font-style: italic;
      font-family: helvetica;  
      position:relative;
      border-radius: 12px;
      font-weight: bold;
      }
  
      .boton:hover {
        background-color: #3498DB;
        color: white;
        border: 2px solid #3498DB;
        cursor: pointer;    
    }  
  
  .boton2{
      background-color: #FDFEFE;
      color: black;
      border: 2px solid #FDFEFE;
      font-size: 20px;
      font-style: italic;
      font-family: helvetica;
      width: 60%;
      height: 40px;
      position:relative;
      bottom: -20px;
      border-radius: 12px;
      font-weight: bold;
    }
    
    .boton2:hover{
      background-color: #E74C3C;
      color: white;
      border: 2px solid #E74C3C;
      cursor: pointer;    
    }
  
    .boton3{
      background-color: #FDFEFE;
      color: black;
      border: 2px solid #FDFEFE;
      font-size: 20px;
      font-style: italic;
      font-family: helvetica;
      width: 60%;
      height: 40px;
      position:relative;
      bottom: -20px;
      border-radius: 12px;
      font-weight: bold;
    }
  
    @media (max-width:1000px){
      .contenedor{
      width: 100%;
          }
      }
  